
.root {
    display: inline-block;
}

.root img {
    width: 150px;
    height: 150px;
}

.root h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: tomato;
    width: 100%;
    text-align: center;
}